@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('/assets/fonts/TextMeOne.woff2'); */

@font-face {
  font-family: "Text Me One";
  src: url("/assets/fonts/TextMeOne.woff2") format("woff2");
}

@font-face {
  font-family: "Carisma-400";
  src: url("/assets/fonts/Carisma-400.woff2") format("woff2");
}

@font-face {
  font-family: "Carisma-600";
  src: url("/assets/fonts/Carisma-600.woff2") format("woff2");
}

:root {
  --background-light: #d9d9d9;
  --background-dark: #1e1e1e;
  --font-color: #737373;
  --font-color-highlight-light: #8a8a8a;
  --font-color-highlight-dark: #aaa9a9;
  --font-color-light: var(--font-color-highlight-light);
  --padding-top: 95px;
  --scrollbar-background: var(--background-light);
  --thumb-light: #a6a6a6;
  --thumb-dark: #6c6c6c;
  --scrollbar-thumb: var(--thumb-light);
  --thumb-hover-dark: #939393;
  --thumb-hover-light: #626262;
  --thumb-hover: var(--thumb-hover-light);
}

/* Scroll Bar */
::-webkit-scrollbar {
  background: var(--scrollbar-background);
  transition: all 300ms;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--thumb-hover);
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgb(var(--foreground-rgb)) rgb(var(--background-end-rgb));
}

body {
  font-family: "Carisma-600", sans-serif;
}

h1 {
  font-family: "Text Me One", sans-serif !important;
  /* font-size: 4.5rem !important; */
  line-height: 0.9 !important;
  font-weight: 500 !important;
  letter-spacing: 0.05em !important;
  text-transform: none !important;
}

h2 {
  font-family: "Carisma-400", sans-serif !important;
  /* font-size: 3rem !important;*/
  line-height: 0.9 !important;
}

h3 {
  font-family: "Carisma-400", sans-serif !important;
  // font-size: 1.75rem !important;
  line-height: 1 !important;
}

h4 {
  font-family: "Carisma-600", sans-serif !important;
  font-size: 1.8rem !important;
  text-transform: uppercase;
  line-height: 1 !important;
  padding: 12px 0;
}

h5 {
  font-family: "Carisma-600", sans-serif !important;
  font-size: 1.5rem !important;
  text-transform: uppercase;
  line-height: 1 !important;
  padding: 12px 0;
}

p {
  font-family: "Carisma-600", sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}

.Container {
  min-height: 100vh;
  padding: 20px;
  padding-top: var(--padding-top);
}

.Header {
  text-align: center;
  padding-bottom: 60px !important;
}

.NavBar {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.About {
  p {
    font-size: 1.1rem;
    /* white-space: pre-wrap; */
    width: inherit;
    line-height: 1.125;
    text-align: initial;
  }
}

.Prices {
  .price-title {
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;
    line-height: 0.8;
  }

  .price-value {
    font-size: 1.125rem;
    font-family: "Carisma-400", sans-serif;
    text-transform: uppercase;
    display: block;
    line-height: 1;
    margin: 12px 0;
  }
}

.ananda-color {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  clip-path: ellipse(80% 100% at bottom);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  transition: all 0.3s;
  pointer-events: none;
}

.ananda-no-color {
  /* border-radius: 50% 0 0 0; */
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  clip-path: ellipse(80% 100% at bottom);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) grayscale(100%);
  transition: all 0.3s;
  pointer-events: visible;
}

.ananda-no-color:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) grayscale(0%);
}

/* .ananda-no-color:active {
  pointer-events: none;
} */

.theme-mode {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 999;
  margin: 12px !important;
}

.btn-primary {
  background-color: var(--font-color);
}

.btn-primary:hover {
  background-color: var(--font-color-light);
}

.font-light {
  color: var(--font-color-light);
  // display: block;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.Footer {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}

.react-player__play-icon {
  transform: scale(2);
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 1));
  opacity: 0.8;
}

.Section {
  animation: appear 1ms ease-in-out;
  animation-timeline: view(block);
  animation-range: cover 0% cover 40%;
}

@keyframes appear {
  from {
    filter: blur(10px);
  }

  to {
  }
}
