@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('/assets/fonts/TextMeOne.woff2'); */

@font-face {
  font-family: "Text Me One";
  src: url("/assets/fonts/TextMeOne.woff2") format("woff2");
}

@font-face {
  font-family: "Carisma-400";
  src: url("/assets/fonts/Carisma-400.woff2") format("woff2");
}

@font-face {
  font-family: "Carisma-600";
  src: url("/assets/fonts/Carisma-600.woff2") format("woff2");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-color: #737373;
  --font-color-light: #a6a6a6;
  --padding-top: 95px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--font-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Carisma-600", sans-serif;
}

h1 {
  font-family: "Text Me One", sans-serif !important;
  /* font-size: 4.5rem !important; */
  line-height: 0.9 !important;
  font-weight: 500 !important;
  letter-spacing: 0.02em !important;
}

h2 {
  font-family: "Carisma-400", sans-serif !important;
  /* font-size: 3rem !important;*/
  line-height: 0.75 !important;
}

h3 {
  font-family: "Carisma-400", sans-serif !important;
  // font-size: 1.75rem !important;
  line-height: 1 !important;
}

p {
  font-family: "Carisma-600", sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.4 !important;
}

.Header {
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.FloatingHeader {
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(var(--background-end-rgb));
  opacity: 0.9;
}

.ananda-color {
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  clip-path: ellipse(80% 100% at bottom);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
  transition: all 0.3s;
  pointer-events: none;
}

.ananda-no-color {
  /* border-radius: 50% 0 0 0; */
  border-radius: 10px;
  width: 300px;
  height: 400px;
  object-fit: cover;
  clip-path: ellipse(80% 100% at bottom);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) grayscale(100%);
  transition: all 0.3s;
  pointer-events: visible;
}

.ananda-no-color:hover {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.5)) grayscale(0%);
}

/* .ananda-no-color:active {
  pointer-events: none;
} */

.btn-primary {
  background-color: var(--font-color);
}

.btn-primary:hover {
  background-color: var(--font-color-light);
}

.font-light {
  color: var(--font-color-light);
  display: block;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.About p {
  font-size: 1.1rem;
  /* white-space: pre-wrap; */
  width: inherit;
  line-height: 1.125;
  text-align: initial;
}

@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
  }
}
